body{
    width:960px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin:0px;
}
ul:first-of-type{
    list-style-type: none;
    padding: 0px;
}
ul ul li{
    padding-left:50px;
}
a, h2{
    color: #CC1C0D;
}
h2, .pricing div{
    border: 1px solid #929CA4;
    border-radius: 5px;
}
h2{
     background-color: #DFE3E6;
     padding-left:15px;
}
p img{
    float: left;
    padding-right: 5px;
    margin-top: 10px;
}
section img{
    float: left;
    border-radius: 45%;
    margin-right: 15px;
    border:1px solid #CC1C0D
}
section p{
    margin-top: 0px;
}
.pricing div{
    float:left;
    margin-right:5px;
    width:230px;
    text-align: center;
}
.pricing img{
    padding-top:20px;
    float: unset;
    margin: 0px;
    border: unset;
}
.pricing div:nth-child(1) h3{
    border-top:8px solid #CC1C0D;
}
.pricing div:nth-child(2) h3{
    border-top:8px solid #37A4A4;
}
.pricing div:nth-child(3) h3{
    border-top:8px solid #685288;
}
.pricing div:nth-child(4) h3{
    border-top:8px solid #000000;
}
.pricing div:last-child{
    padding-top: 35px;
}
.pricing h3{
    padding-top:10px;
}
